@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* ,*::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background: #E5E5E5;
}

#root {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

main {
    max-width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 5px;
}

nav {
    background: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 100%;
    gap: 7px;
    border-radius: 5px 5px 0px 0px;
}

h4 {
    font-weight: 500;
    font-size: 14.4608px;
    line-height: 18px;
    letter-spacing: -0.075em;
    color: #FFFFFF;
}

.images {
    width: 125px;
    height: 168px;
    object-fit: cover;
    border-radius: 5px;
}

.layout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 36px;
}

.informations {
    padding-left: 19px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
}

a { 
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    letter-spacing: 0.17em;
    color: #2B283A;
}

span {
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    text-decoration-line: underline;
    color: #918E9B;
    padding-left: 12px;
}

.title {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #2B283A;
    padding-top: 4px;
}

.date {
    font-style: normal;
    font-weight: 700;
    font-size: 10.24px;
    line-height: 12px;
    color: #2B283A;
    padding: 9px;
}

.description {
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    color: #2B283A;
}

.path--icon {
    width: 7px;
    margin-right: 4px;
}